body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #ffffff;
}
p {
    color: #e9e9e9;
}
button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.9s;
}

button:hover {
    background-color: #4e45a0;
}
.hide {
    display: none;
}

#myImage {
    width: 300px;
    max-width: 100%;
    height: auto;
}